.properties__title,
.work-list__text,
.toadd-title,
.folowme__title {
    @include font(700, 14px, 0.03em, normal);
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width:$tablet) {
        text-align: start;
    }
}