h1,
h2,
h3,
h4,
h5,
p,
b {
    margin: 0;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}
.section {
    padding: 60px 0;
    &.padding {
        padding-bottom: 0;
    }
}