:root {
    --cubiq: cubic-bezier(0.4, 0, 0.2, 1);
    --haupt-color: #212121;
    --secod-color: #757575;
    --white-color: #FFFFFF;
    --white-color-trans: #ffffff99;
    --akcent-color: #2196f3;
    --footer-background: #2F303A;
    --section-background: #f5f4fa;
    --border-header-color: #ececec;
    --border-card-color: #eeeeee;
    --icons-color: #AFB1B8;
    --akcent-font: 'Raleway', sans-serif;
}